<!-- Header Section Begin -->
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="header__logo">
					<a href="#!index">
						<img src="../assets/img/logo.png" alt="" />
					</a>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="header__nav" navigation>
					<nav class="header__menu mobile-menu">
						<ul>
							<li class="active">
								<a href="#!index">Homepage</a>
							</li>
							<li>
								<a href="#!categories">
									Categories
									<span class="arrow_carrot-down"></span>
								</a>
								<ul class="dropdown">
									<li ng-repeat="item in genres">
										<a href="#!categories/{{item.id}}"> {{item.name}} </a>
									</li>
								</ul>
							</li>
							<li><a href="#!blog">Our Blog</a></li>
							<li>
								<a href="https://www.facebook.com/hoang3409"> Contacts </a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="header__right">
					<a href="#" class="search-switch">
						<span class="icon_search"></span>
					</a>
					<a href="#!login">
						<span class="icon_profile"></span>
					</a>
				</div>
			</div>
		</div>
		<div id="mobile-menu-wrap"></div>
	</div>
</header>
<!-- Header End -->

<search></search>
