* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 10px;
    margin-left: 20px;
}

input {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.unstyled {
    list-style: none;
}

.AngularJS {
    display: flex;
    flex-direction: column;
}

a {
    font-size: large;
    text-decoration: none;
}