<div class="anime__details__rating">
	<div class="rating">
		<a href="javascript:void(0)" ng-click="vote()">
			<i class="fa fa-star"></i>
		</a>
		<a href="javascript:void(0)" ng-click="vote()">
			<i class="fa fa-star"></i>
		</a>
		<a href="javascript:void(0)" ng-click="vote()">
			<i class="fa fa-star"></i>
		</a>
		<a href="javascript:void(0)" ng-click="vote()">
			<i class="fa fa-star"></i>
		</a>
		<a href="javascript:void(0)" ng-click="vote()">
			<i class="fa fa-star-half-o"></i>
		</a>
	</div>
	<span>{{currentvote}} Votes</span>
</div>
