<breadcrumb></breadcrumb>

<!-- Anime Section Begin -->
<section class="anime-details spad">
	<div class="container">
		<anime-details-content></anime-details-content>
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<comments></comments>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="anime__details__sidebar" set-bg>
					<div class="section-title">
						<h5>you might like...</h5>
					</div>
					<div
						class="product__sidebar__view__item set-bg"
						data-setbg="../assets/img/sidebar/tv-1.jpg"
					>
						<div class="ep">18 / ?</div>
						<div class="view"><i class="fa fa-eye"></i> 9141</div>
						<h5>
							<a href="#">Boruto: Naruto next generations</a>
						</h5>
					</div>
					<div
						class="product__sidebar__view__item set-bg"
						data-setbg="../assets/img/sidebar/tv-2.jpg"
					>
						<div class="ep">18 / ?</div>
						<div class="view"><i class="fa fa-eye"></i> 9141</div>
						<h5>
							<a href="#">The Seven Deadly Sins: Wrath of the Gods</a>
						</h5>
					</div>
					<div
						class="product__sidebar__view__item set-bg"
						data-setbg="../assets/img/sidebar/tv-3.jpg"
					>
						<div class="ep">18 / ?</div>
						<div class="view"><i class="fa fa-eye"></i> 9141</div>
						<h5>
							<a href="#"> Sword art online alicization war of underworld </a>
						</h5>
					</div>
					<div
						class="product__sidebar__view__item set-bg"
						data-setbg="../assets/img/sidebar/tv-4.jpg"
					>
						<div class="ep">18 / ?</div>
						<div class="view"><i class="fa fa-eye"></i> 9141</div>
						<h5>
							<a href="#"> Fate/stay night: Heaven's Feel I. presage flower </a>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Anime Section End -->
