<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Anime" />
        <meta name="keywords" content="Anime, unica, creative, html" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Anime | Manga</title>

        <!-- Google Font -->
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <!-- Css Styles -->
        <link
            rel="stylesheet"
            href="../styles/css/bootstrap.min.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="../styles/css/font-awesome.min.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="../styles/css/elegant-icons.css"
            type="text/css"
        />
        <link rel="stylesheet" href="../styles/css/plyr.css" type="text/css" />
        <link
            rel="stylesheet"
            href="../styles/css/nice-select.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="../styles/css/owl.carousel.min.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="../styles/css/slicknav.min.css"
            type="text/css"
        />
        <link rel="stylesheet" href="../styles/css/style.css" type="text/css" />
    </head>

    <body ng-app="myApp">
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <header-customs></header-customs>

        <div ng-view></div>

        <footer-customs></footer-customs>

        <!-- Js Plugins -->
        <script src="../js/jquery-3.3.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/player.js"></script>
        <script src="../js/jquery.nice-select.min.js"></script>
        <script src="../js/mixitup.min.js"></script>
        <script src="../js/jquery.slicknav.js"></script>
        <script src="../js/owl.carousel.min.js"></script>
        <script src="../js/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
