<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Anime" />
		<meta name="keywords" content="Anime, unica, creative, html" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Anime | Manga</title>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>

		<!-- Css Styles -->
		<link
			rel="stylesheet"
			href="../styles/css/bootstrap.min.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="../styles/css/font-awesome.min.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="../styles/css/elegant-icons.css"
			type="text/css"
		/>
		<link rel="stylesheet" href="../styles/css/plyr.css" type="text/css" />
		<link
			rel="stylesheet"
			href="../styles/css/nice-select.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="../styles/css/slicknav.min.css"
			type="text/css"
		/>
		<link rel="stylesheet" href="../styles/sass/style.css" type="text/css" />
		<!-- <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script> -->
		<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
		<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-firestore-compat.js"></script>
		<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-auth-compat.js"></script>
		<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-database-compat.js"></script>
	</head>

	<body ng-app="myApp" nice-select>
		<!-- Page Preloder -->
		<div id="preloder" pre-loader>
			<div class="loader"></div>
		</div>

		<header-customs></header-customs>

		<!-- Body -->
		<div ng-view></div>

		<footer-customs></footer-customs>

		<!-- Js Plugins -->
		<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/player.js"></script>
		<script src="../js/jquery.nice-select.min.js"></script>
		<script src="../js/mixitup.min.js"></script>
		<script src="../js/jquery.slicknav.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<!-- AngularJs -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
		<!-- My controller -->
		<script type="module" src="../js/main.js"></script>
		<script type="module" src="../directives/directive.js"></script>
		<script type="module" src="../components/components.js"></script>
		<script type="module" src="../controllers/controller.js"></script>
		<script type="module" src="../routes/routes.js"></script>
		<!-- SweetAlert2 -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	</body>
</html>
