<div class="container">
    <div class="row">
        <h1>Todo App</h1>
        <form ng-submit="$ctrl.addTodo()" name="form">
            <p>Còn {{ $ctrl.remaining() }} việc</p>
            <input
                type="text"
                ng-model="$ctrl.todoText"
                size="30"
                placeholder="add new todo here"
                required
            />
            <input class="btn-primary" type="submit" value="add" />
        </form>
        <ul class="unstyled">
            <li ng-repeat="item in $ctrl.todos">
                <input type="checkbox" ng-model="item.done" />
                <span>{{ item.text }}</span>
            </li>
        </ul>
    </div>
</div>
