<div class="product__sidebar__view" set-bg ng-controller="GetListAnimeTrending">
	<div class="section-title">
		<h5>Top Views</h5>
	</div>
	<!-- <ul class="filter__controls">
		<li class="active" data-filter="*">Day</li>
		<li data-filter=".week">Week</li>
		<li data-filter=".month">Month</li>
		<li data-filter=".years">Years</li>
	</ul> -->
	<div class="filter__gallery">
		<view-item
			ng-repeat="item in list"
			id="{{item.id}}"
			name="{{item.title}}"
			url="{{item.cover_image_url}}"
			views="{{item.views}}"
		></view-item>
	</div>
</div>
