<!-- Hero Section Begin -->
<section class="hero" hero-slider>
    <div class="container">
        <div class="hero__slider owl-carousel">
            <hero-item
                id-movie="2"
                name="Fate / Stay Night: Unlimited Blade Works"
                description="After 30 days of travel across the world..."
                link-image="../assets/img/hero/hero-1.jpg"
            ></hero-item>
            <hero-item
                id-movie="3"
                name="Gintama Movie 2: Kanketsu-hen"
                description="After 30 days of travel across the world..."
                link-image="../assets/img/hero/hero-1.jpg"
            ></hero-item>
            <hero-item
                id-movie="4"
                name="The Seven Deadly Sins: Wrath of the Gods"
                description="After 30 days of travel across the world..."
                link-image="../assets/img/hero/hero-1.jpg"
            ></hero-item>
        </div>
    </div>
</section>
<!-- Hero Section End -->
