<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <hero-item
                id-movie="2"
                name="Fate / Stay Night: Unlimited Blade Works"
                description="After 30 days of travel across the world..."
                link-image="../assets/img/hero/hero-1.jpg"
            ></hero-item>
            <hero-item
                id-movie="3"
                name="Gintama Movie 2: Kanketsu-hen"
                description="After 30 days of travel across the world..."
                link-image="../assets/img/hero/hero-1.jpg"
            ></hero-item>
            <hero-item
                id-movie="4"
                name="The Seven Deadly Sins: Wrath of the Gods"
                description="After 30 days of travel across the world..."
                link-image="../assets/img/hero/hero-1.jpg"
            ></hero-item>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<script>
    /*------------------
    	Hero Slider
    --------------------*/
    var hero_s = $('.hero__slider');
    hero_s.owlCarousel({
        loop: true,
        margin: 0,
        items: 1,
        dots: true,
        nav: true,
        navText: [
            "<span class='arrow_carrot-left'></span>",
            "<span class='arrow_carrot-right'></span>",
        ],
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        smartSpeed: 1200,
        autoHeight: false,
        autoplay: true,
        mouseDrag: false,
    });
</script>
