<div class="popular__product">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8">
			<div class="section-title">
				<h4>Popular Shows</h4>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="btn__all">
				<a href="#" class="primary-btn">
					View All
					<span class="arrow_right"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="item in list">
			<product-item
				id="{{item.id}}"
				name="{{item.title}}"
				url="{{item.cover_image_url}}"
				views="{{item.views}}"
				genres="{{item.genres}}"
			></product-item>
		</div>
	</div>
</div>
