<div class="product__item">
    <div
        class="product__item__pic set-bg"
        style="background-image: url({{$ctrl.url}});"
    >
        <div class="ep">18 / 18</div>
        <div class="comment">
            <i class="fa fa-comments"></i>
            11
        </div>
        <div class="view"><i class="fa fa-eye"></i> {{$ctrl.views}}</div>
    </div>
    <div class="product__item__text">
        <ul>
            <li>Active</li>
            <li>Movie</li>
        </ul>
        <h5>
            <a href="#!anime-details/{{$ctrl.id}}"> {{$ctrl.name}} </a>
        </h5>
    </div>
</div>
