<div class="product__item">
	<div
		class="product__item__pic set-bg skeleton"
		style="background-image: url({{$ctrl.url}});"
	>
		<div class="ep">18 / 18</div>
		<div class="comment"><i class="fa fa-comments"></i> 11</div>
		<div class="view"><i class="fa fa-eye"></i> {{$ctrl.views}}</div>
	</div>
	<div class="product__item__text">
		<ul>
			<li ng-repeat="item in $ctrl.genres.split(',')">{{item}}</li>
		</ul>
		<h5>
			<a href="#!anime-details/{{$ctrl.id}}">
				<span> {{$ctrl.name}} </span>
			</a>
		</h5>
	</div>
</div>
